.purchased-container {
  display: grid;
  place-content: center;
  margin: 17vw 10vw;
  text-align: center;
  font-size: 2rem;
  line-height: 4vw;
}
@media screen and (max-width: 500px) {
  .purchased-container {
    display: grid;
    place-content: center;
    margin: 20vw 10vw;
    text-align: center;
    font-size: 1.4rem;
    line-height: 10vw;
  }
}
