.product-container {
  // background-color: #b35757;
  margin: 15vw;
  // //   height: 100vw;
  display: grid;
}
.product-card {
  background-color: #d4c7c7;
  margin: 0.5vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.img {
  background-image: url(./693D3030-2C43-4C62-9F0F-E9EDC55DFF2E_4_5005_c.jpeg);
  background-repeat: no-repeat;
  background-size: 18vw;
  height: 25vw;
  margin-left: 15vw;
}
.description {
  margin: auto;
  font-size: 2vw;
}

.purchase {
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding: 1vw;
  font-size: 1.6rem;
}

@media screen and (max-width: 500px) {
  .product-container {
    // background-color: #b35757;
    margin: 5vw;
    //   height: 100vw;
    display: grid;
  }
  .product-card {
    background-color: #d4c7c7;
    margin: 0.5vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .img {
    background-image: url(./693D3030-2C43-4C62-9F0F-E9EDC55DFF2E_4_5005_c.jpeg);
    background-repeat: none;
    background-size: 95%;
    height: 100vw;
    margin: 5vw;
  }
  .description {
    margin: auto;
    font-size: 3vw;
  }
  .transations-text {
    margin: 20vw 5vw 0 5vw;
  }
  .purchase {
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 1vw;
    font-size: 1.6rem;
  }
  // .des-text {
  //   margin: 5vw;
  // }
}
