.nav-container {
  width: auto auto;
  height: 4vw;
  background-color: #d35187;
  display: grid;
  place-items: center;
}

.shop-icon {
  color: #ffffff;
  font-size: 1.6vw;
}

@media screen and (max-width: 500px) {
  .nav-container {
    width: auto auto;
    height: 10vw;
    background-color: #d35187;
    display: grid;
    place-items: center;
  }

  .shop-icon {
    color: #ffffff;
    font-size: 4vw;
  }
}
