@media screen and (max-width: 500px) {
  .footer-container {
    width: auto auto;
    height: 6vw;
    background-color: #d35187;
    display: grid;
    place-items: center;
  }

  .footer-icon {
    color: #ffffff;
    font-size: 4vw;
  }
}
